body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 0px;
    height: 5em;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Sriracha', cursive;
    font-size: 60px;
    color: white;
    background-color: black;
}

#blog-body {
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 20%;
    width: 60%;
}

#blog-body img {
    max-width: 100%;
}

a {
    font-family: 'Montserrat', sans-serif;

}

/* tachyons button */
.ba {
    border-style: solid;
    border-width: 1px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.black {
    color: #000;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt4 {
    margin-top: 2rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

/* tachyons button end */