html {
    height: 100vh;
}

#__next {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('pikachubg.jpg');
    font-family: 'Montserrat', sans-serif;
}

#header-border {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#header-wrapper {
    width: 70vw;
    height: 70vh;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;
}

#header { 
    margin: 0;
    display: flex;
    font-size: 60px;
}

/* tachyons button */
.ba {
    border-style: solid;
    border-width: 1px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.white {
    color: #fff;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt4 {
    margin-top: 2rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

/* tachyons button end */

#introduction {
    width: 40vw;
    margin-top: 2em;
    margin-bottom: 2em;
}

body ul {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    align-items: center;
}

#blog {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.border-wrapper {
    border-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: white;
}

body ul li a {
    text-decoration: none;
    width: 100%;
}

body ul li a div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: bold;
    color: black;
}


/* medium phone portrait and large device screen */
@media only screen 
  and (min-device-width: 540px)
  and (max-device-width: 770px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
        background-size: cover;
    }

    #header-wrapper h1 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: 30px;
    }

    #header-wrapper p {
        font-size: 20px;
    }

    #introduction {
        width: 70vw;
    }
}

/* small phone portrait */
@media only screen 
  and (max-device-width: 411px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
        background-size: cover;
    }

    #header-wrapper h1 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: 20px;
    }

    #header-wrapper p {
        font-size: 10px;
    }

    #introduction {
        width: 80vw;
    }
}

/* between small and medium phone portrait */
@media only screen 
  and (min-device-width: 412px)
  and (max-device-width: 539px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
        background-size: cover;
    }
    
    #header-wrapper h1 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: 30px;
    }

    #header-wrapper p {
        font-size: 15px;
    }

    #introduction {
        width: 70vw;
    }
}

