body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
    height: 5em;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Sriracha', cursive;
    font-size: 60px;
    color: white;
    background-color: black;
}

#blog-body {
    padding-top: 2em;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}