body {
    margin: 0;
    padding: 0;
}

body ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url('pikachubg.jpg');
}

#header { 
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Montserrat', sans-serif;
}